:root {
    --clr-primary-100: hsl(179, 62%, 43%);
    --clr-primary-200: hsl(71, 73%, 54%);

    --clr-neutral-100: hsl(204, 43%, 93%);
    --clr-neutral-200: hsl(218, 22%, 67%);

    --fw-regular: 400;
    --fw-bold: 700;

    --ff-main: 'Karla', sans-serif;

    --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-size: 0.875rem;
    font-weight: var(--fw-regular);
    font-family: var(--ff-main);
    background-color: var(--clr-neutral-100);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    width: 550px;
    max-width: 100%;
    display: grid;
    grid-template-rows: 0.8fr 1fr;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}

.flow-content>*+* {
    margin-top: 1rem;
}

.primary {
    padding: 2rem;
    background-color: #FFFFFF;
}

.title {
    color: var(--clr-primary-100);
    font-size: 1.4rem;
    font-weight: var(--fw-bold);
}

.subtitle {
    color: var(--clr-primary-200);
}

.primary-desc {
    margin-top: 0.8rem;
    font-size: 0.85rem;
    color: var(--clr-neutral-200);
}

.secondary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-100);
}

.secondary-section:nth-child(1) {
    padding: 2rem;
}

.secondary-section:nth-child(2) {
    padding: 2rem;
    background-color: #4ABEBD;
}

.price {
    font-size: 1.8rem;
    font-weight: var(--fw-bold);
}

.status {
    color: hsl(204, 43%, 93%, 0.6);
    margin-left: 0.5rem;
}

.secondary-desc {
    margin-top: 0.5rem;
    margin-bottom: 0.9rem;
}

.btn {
    cursor: pointer;
    font-weight: var(--fw-bold);
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    width: 100%;
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-200);
    padding: 0.7rem 1.2rem;
    border: 0;
    border-radius: 0.5rem;
}

.btn:is(:hover, :focus) {
    color: var(--clr-primary-100);
    background-color: var(--clr-neutral-100);
}

ul {
    padding: 0;
    list-style: none;
}

ul li {
    line-height: 1.3;
    color: hsl(204, 43%, 93%, 0.9);
}

@media only screen and (max-width: 570px) {
    .primary-desc {
        font-size: 0.75rem;
    }

    .secondary-desc {
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 500px) {
    main {
        width: 90%;
        max-width: 100%;
        grid-template-rows: 0.6fr 1fr;
    }

    .primary {
        padding: 1.5rem;
    }

    .subtitle {
        margin-bottom: 1rem;
    }

    .primary-desc {
        display: inline;
        font-size: 0.9rem;
        line-height: 1.8;
    }

    .secondary {
        grid-template-columns: repeat(1, 1fr);
    }

    .secondary-section:nth-child(1) {
        padding: 1.5rem;
    }

    .secondary-section:nth-child(2) {
        padding: 1.5rem;
    }

    .btn {
        font-size: 0.8rem;
    }
}